
@{
    ViewBag.Title = "Reservación";
    ViewBag.NombreUnico = "Reservar en Linea";
}
<h1 class="text-left">@ViewBag.Title</h1>

    <form method="post">
    
        <div class="row">
            <div class='col-sm-3'>
                <p id="textollegada">Fecha Llegada</p>
                <div class="form-group">
                    <div class='input-group date' id='entrada'>
                        <input type='text' name="fechaEntrada" class="form-control" required autocomplete="off"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-3'>
                <p id="textosalida">Fecha Salida</p>
                <div class="form-group">
                    <div class='input-group date' id='salida'>
                        <input type='text' name="fechaSalida"class="form-control" required autocomplete="off"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
 

    <div style="padding: 2em 2em 2em 0em;">
        <select id="tipoHabitacion" name="tipoHabitacion">
            <option>Tipo de Habitacion</option>
            <option id="Junior" value="1">Junior</option>
            <option id="Standard" value="2">Standard</option>
        </select>
    </div>
    <div style="padding: 2em 2em 2em 20em;">
        <button type="submit" class="btn-group">Aceptar</button>
    </div>
    </form>
<div class="form-group">
    <a>@ViewBag.mensaje</a>
</div>
