
@{
    ViewBag.Title = "Reservar en Linea";
}
<h1 class="text-center">@ViewBag.Title</h1>
<body>

    <div>
        <div magin-top="10">
            <p id="textomsj">@ViewBag.infoReserva</p>
        </div>
        <div magin-top="10">
            <ul>
                <li>@Html.ActionLink("Volver", "ReservaEnLinea", "Reservacion")</li>
            </ul>
        </div>

    </div>

</body>


