
@{
    ViewBag.Title = "Modificar Paginas";
    ViewBag.Pagina = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="col-3" style="margin-left: 3em;">
            @ViewBag.Pagina
        </div>
    </div>
    <div class="form-group" style="margin-top: 5em;">
        <label for="descripcion">Descripcion:</label>
        <textarea class="form-control" rows="5" id="descripcion">@ViewBag.hotel.Descripcion1</textarea>
    </div>
    <div class="row" style="margin-top: 5em;">
        <div class="col-4 form-group">
            <label>Imagen actual:</label>
            <img class="card-img-top" id="imgTipoHabitacion" src="~/img/paginainicio/@ViewBag.hotel.Imagen1" alt="No se pudo cargar" style="display: flex; align-items: center; height: 200px; width: 200px;">
        </div>
        <div class="col-4" style="margin-top: 5em;">
            <label for="imagen">Subir nueva imagen</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="imagen">
                    <label class="custom-file-label" for="imagen">Seleccione imagen</label>
                </div>
            </div>
        </div>
        <div class="col-4 container text-center" style="height: auto; display: flex;">
            <div style="display: inline-block; align-self: flex-end;">
                <button type="button" class="btn btn-success" onclick="actualizarHome('@ViewBag.hotel.Imagen1')">Aceptar</button>
                <button type="button" class="btn btn-secondary  mb-2" onclick="cancelarActualizarHome">Cancelar</button>
            </div>
        </div>
    </div>
</div>
