
@{
    ViewBag.Title = "AdministrarPaginaSobreNosotros";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<h1>Administrar Pagina SobreNosotros</h1>

<label id="msjExito" class="mensajeExito"></label>


<div class="card">
    <div class="card-header">
        Valor Actual
    </div>
    <div class="card-body">
        <p style=" text-align: justify" id="textoSobreNosotros">@ViewBag.valorTexto</p>
    </div>
</div>
<br />
<br />

<div class="card">
    <div class="card-header">
        Valor Nuevo
    </div>
    <div class="card-body">
        <textarea class="form-control" id="textAreaNuevaDescripcion" rows="4"></textarea><br />
        <button class="btn btn-success" id="btnGuardarSobreNosotros" onclick="cambiarTextoSobreNosotros('@ViewBag.idPaginaSobreNosotros')">Aceptar</button>
        <button class="btn btn-danger" id="btnCancelarSobreNosotros" onclick="(desecharCambios())">Cancelar</button>
    </div>
</div>