
@{
    ViewBag.Title = "Módulo Administrativo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <body>

        <div class="row">
            <div class="container" style="text-align: center; margin-top: 20em;">
                @ViewBag.Title
            </div>
        </div>

        @{
            if (TempData["message"] != null)
            {
                <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
                </script>
                TempData["message"] = null;
            }
        }

    </body>

