
@{
    ViewBag.Title = "Módulo Administrativo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>

    <div class="row">
        <div class="container" style="text-align: center; margin-top: 20em;">
            @ViewBag.Title
        </div>
    </div>

</body>

