
@{
    ViewBag.Title = "VerEstadoHotel";
}

<h2>Estado del Hotel Hoy</h2>

<table class="table-bordered">
    <thead>
        <tr>
            
            <th scope="col">Numero de Habitaci&oacute;n</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.datos)
        {
        <tr>
            <td>@item.numeroHabitacion</td>
            <td>@item.tipo</td>
            <td>@item.estado</td>
        </tr>
        }
    </tbody>
</table>

