@{
    ViewBag.Title = "About";
}
<h2>Sobre Nosotros</h2>

<p style=" text-align: justify">El complejo Hotel Colibr&iacute; destaca por ofrecer al viajero una amplia variedad de 
    opciones de alojamiento en la montaña y por estar rodeado del espectacular bosque 
    tropical costarricense. Sus habitaciones están equipadas con aire acondicionado, 
    televisor por cable, caja fuerte y balcón privado con ducha y secador de cabello. 
    No obstante, también cuenta con casas y apartamentos de diferentes características 
    y aforos. Sus instalaciones albergan pistas de fútbol sala, tenis y vóley-playa, 
    así como una piscina, un spa, un parking y un centro de negocios. Igualmente, 
    se facilitan servicios de alquiler de automóviles, cambio de moneda, 
    información turística, recepción 24 horas y conexión wifi.</p>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/gallery.css" rel="stylesheet" />"
<script src="~/Scripts/gallery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag   cambio---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<div class="container">
    <div class="row">

        <div class="row">



            <div class="card col-lg-6 col-md-6 col-xs-11">
                <img class="card-img-top" id="mainImage" src="~/img/About Us/hotel1.jpg" alt="Card image cap">
                
            </div>




            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel1.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel2.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel3.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel4.jpg">
                </a>
            </div>

            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel5.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel6.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel7.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel8.jpg">
                </a>


            </div>

            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel9.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel10.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel11.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel12.jpg">
                </a>
            </div>

            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel13.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel14.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel15.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel16.jpg">
                </a>
            </div>

        </div>
    </div>

</div>


@section scripts{
    
<script>
    $(".getImage").click(function () {
        var img = $(this).attr("src");
        $("#mainImage").attr("src",img);
        //alert(img);

    });
</script>    
    

}


