@{
    ViewBag.Title = "About";
    

}

    <h2>@ViewBag.NombreUnico</h2>

<p style=" text-align: justify">@ViewBag.valorTexto</p>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/gallery.css" rel="stylesheet" />"
<script src="~/Scripts/gallery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag   cambio---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<h2>Galer&iacute;a</h2>
<br />
<div class="container">
    <div class="row">

        <div class="row" style="padding: 0;">



            <div class="col-lg-6 col-md-6 col-xs-4" style="padding: 0">
                <img class="card-img-top" id="mainImage" src="~/img/About Us/hotel1.jpg" >

            </div>




            <div class="col-lg-1 col-md-1 col-xs-2 xs">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel1.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel2.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel3.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel4.jpg">
                </a>
            </div>

            <div class="col-lg-1 col-md-1 col-xs-2 xs">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel5.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel6.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel7.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel8.jpg">
                </a>


            </div>

            <div class="col-lg-1 col-md-1 col-xs-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel9.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel10.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel11.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel12.jpg">
                </a>
            </div>

            <div class="col-lg-1 col-md-1 col-xs-2" >
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel13.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel14.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel15.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/About Us/hotel16.jpg">
                </a>
            </div>

        </div>
    </div>

</div>


@section scripts{

    <script>
        $(".getImage").click(function () {
            var img = $(this).attr("src");
            $("#mainImage").attr("src", img);
            //alert(img);





        });

       

    </script>


}


