@{
    ViewBag.Title = "About";
}
<h2>Galer&iacute;a.</h2>

<p>TEXTO DE LA GALERIA</p>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/gallery.css" rel="stylesheet" />"
<script src="~/Scripts/gallery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag   cambio---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<div class="container">
    <div class="row">

        <div class="row">



            <div class="card col-lg-6 col-md-6 col-xs-11">
                <img class="card-img-top" id="mainImage" src="~/img/hotel1.jpg" alt="Card image cap">
                
            </div>




            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel1.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel2.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel3.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel4.jpg">
                </a>
            </div>

            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel5.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel6.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel7.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel8.jpg">
                </a>


            </div>

            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel9.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel10.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel11.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel12.jpg">
                </a>
            </div>

            <div class="col-lg-1.5 col-md-1.5 col-xs-1 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel13.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel14.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel15.jpg">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="~/img/hotel16.jpg">
                </a>
            </div>

        </div>
    </div>

</div>


@section scripts{
    
<script>
    $(".getImage").click(function () {
        var img = $(this).attr("src");
        $("#mainImage").attr("src",img);
        //alert(img);

    });
</script>    
    

}


