@{
    ViewBag.Title = "Contactenos";
}


    <div class="row">

        <div class="col-lg-4 col-sm-12 col-md-4" style="padding: 5em 5em 5em 5em;">
            <img class="card-img-top" id="imgTipoHabitacion" src="~/img/colibri/Nice-Colibri-Tattoo-Design.png" alt="No se pudo cargar">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            
            @foreach (var tipo in ViewBag.valorTexto)
            {
                <h3>@tipo.valorTexto</h3>

            }   
            </div>

    </div>



