
@{
    ViewBag.Title = "Bienvenidos a Hotel Colibrí";
}
<h2 class="text-center">@ViewBag.Title</h2>
<body>
 
        <div class="row">
            <div class="col-md-4">
                <img class="card-img-top responsive" id="imgTipoHabitacion" src="~/img/paginainicio/@ViewBag.infoHotel.Imagen1" alt="No se pudo cargar">
            </div>
            <div class="col-md-8">
                <p id="textohome">@ViewBag.infoHotel.Descripcion1</p>
            </div>

        </div>
   
 </body>


