@{
    ViewBag.Title = "Bienvenidos a Hotel Colibrí";
}

<div class="row">
    <h2>Tarifas</h2>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-12 col-md-4">
        Imagen
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
        Descripcion y caracteristicas
    </div>

</div>